<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Acerca de nosotros</h3>
        <p>Información sobre la empresa y sus valores.</p>
      </div>
      <div class="col-md-4">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Mapa del sitio</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contacto</h3>
        <p>Dirección: Calle Falsa 123</p>
        <p>Teléfono: +123 456 7890</p>
        <p>Email: contacto@ejemplo.com</p>
      </div>
    </div>
  </div>
</footer>
