<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Acerca de nosotros</h3>
        <p>{{ infoApp.info }}</p>
      </div>
      <div class="col-md-4">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a href="{{ infoApp.links.facebook }}">Facebook</a></li>
          <li><a routerLink="/localizacion">Mapa del sitio</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contacto</h3>
        <p>
          Dirección: <a routerLink="/localizacion">{{ infoApp.address }}</a>
        </p>
        <p>
          Teléfono fijo:
          <a href="tel:+34{{ infoApp.phone1 }}">{{ infoApp.phone1 }}</a>
        </p>
        <p>
          Teléfono movil:
          <a href="tel:+34{{ infoApp.phone2 }}">{{ infoApp.phone2 }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
