<div class="card">
  <div class="card-body">
    <h2 class="display-2 text-center text-success text-uppercase">
      {{ category }}
    </h2>
    <div class="row">
      <div class="col-sm-12 col-lg-6 mt-2" *ngFor="let product of products">
        <div class="card border-success">
          <div class="card-header text-center text-success text-uppercase">
            <b>{{ product.name }}</b>
          </div>
          <div class="card-body">
            <p class="card-text">
              <b class="text-success">Ingredientes: </b
              >{{ product.ingredientes }}
            </p>
            <div class="row">
              <div class="col-6 text-center">
                <p
                  *ngIf="
                    product.precio.local?.small ||
                    product.precio.local?.medium ||
                    product.precio.local?.family
                  "
                >
                  <b class="text-success">Local:</b>
                </p>
                <p *ngIf="product.precio.local?.small">
                  Pequeña: {{ product.precio.local?.small | precio }}
                </p>
                <p *ngIf="product.precio.local?.medium">
                  Mediana: {{ product.precio.local?.medium | precio }}
                </p>
                <p *ngIf="product.precio.local?.family">
                  Familiar: {{ product.precio.local?.family | precio }}
                </p>
              </div>
              <div class="col-6 text-center">
                <p
                  *ngIf="
                    product.precio.domicilio?.small ||
                    product.precio.domicilio?.medium ||
                    product.precio.domicilio?.family
                  "
                >
                  <b class="text-success">Domicilio:</b>
                </p>
                <p *ngIf="product.precio.domicilio?.small">
                  Pequeña: {{ product.precio.domicilio?.small | precio }}
                </p>
                <p *ngIf="product.precio.domicilio?.medium">
                  Mediana: {{ product.precio.domicilio?.medium | precio }}
                </p>
                <p *ngIf="product.precio.domicilio?.family">
                  Familiar: {{ product.precio.domicilio?.family | precio }}
                </p>
              </div>
            </div>
            <!-- botones de carrito -->
            <div class="row">
              <!-- botones de añadir local -->
              <div class="dropdown col-6">
                <button
                  *ngIf="
                    product.precio.local?.small ||
                    product.precio.local?.medium ||
                    product.precio.local?.family
                  "
                  class="btn btn-success dropdown-toggle col-12"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Añadir
                </button>
                <ul
                  class="dropdown-menu text-center"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <li
                    *ngIf="product.precio.local?.small"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Pequeña',
                        product.precio.local?.small
                      )
                    "
                  >
                    Pequeña {{ product.precio.local?.small | precio }}
                  </li>
                  <li
                    *ngIf="product.precio.local?.medium"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Mediana',
                        product.precio.local?.medium
                      )
                    "
                  >
                    Mediana {{ product.precio.local?.medium | precio }}
                  </li>
                  <li
                    *ngIf="product.precio.local?.family"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Familiar',
                        product.precio.local?.family
                      )
                    "
                  >
                    Familiar {{ product.precio.local?.family | precio }}
                  </li>
                </ul>
              </div>
              <!-- botones de añadir domicilio -->
              <div class="dropdown col-6">
                <button
                  *ngIf="
                    product.precio.domicilio?.small ||
                    product.precio.domicilio?.medium ||
                    product.precio.domicilio?.family
                  "
                  class="btn btn-success dropdown-toggle col-12"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Añadir
                </button>
                <ul
                  class="dropdown-menu text-center"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <li
                    *ngIf="product.precio.domicilio?.small"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Pequeña',
                        product.precio.domicilio?.small,
                        false
                      )
                    "
                  >
                    Pequeña {{ product.precio.domicilio?.small | precio }}
                  </li>
                  <li
                    *ngIf="product.precio.domicilio?.medium"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Mediana',
                        product.precio.domicilio?.medium,
                        false
                      )
                    "
                  >
                    Mediana {{ product.precio.domicilio?.medium | precio }}
                  </li>
                  <li
                    *ngIf="product.precio.domicilio?.family"
                    class="dropdown-item"
                    role="button"
                    (click)="
                      addCart(
                        category.toUpperCase() + ': ' + product.name,
                        'Familiar',
                        product.precio.domicilio?.family,
                        false
                      )
                    "
                  >
                    Familiar {{ product.precio.domicilio?.family | precio }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
