<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-lg-3 mt-2" *ngFor="let category of categories">
        <div class="card">
          <a routerLink="{{ category.name }}">
            <img
              src="{{ category.img }}"
              class="card-img-top"
              alt="{{ category.name }}"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title text-center">
              <a
                routerLink="{{ category.name }}"
                class="text-uppercase text-decoration-none text-success"
                >{{ category.name }}</a
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
