<div class="table-responsive">
  <table class="table table-hover text-center" aria-describedby="tabla de horarios">
    <thead>
      <tr>
        <th scope="col">Día</th>
        <th scope="col">Horario Mañana</th>
        <th scope="col">Horario Tarde</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Viernes</td>
        <td>CERRADO</td>
        <td>19:00-00:00</td>
      </tr>
      <tr>
        <td>Sabado</td>
        <td>CERRADO</td>
        <td>19:00-00:00</td>
      </tr>
      <tr>
        <td>Domingo</td>
        <td>13:00-16:00</td>
        <td>19:00-00:00</td>
      </tr>
    </tbody>
  </table>
  <app-facebook-plugin></app-facebook-plugin>
</div>
