<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Cesta</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="table-responsive" *ngIf="cesta?.products?.length !== 0">
      <table class="table text-center" aria-describedby="tabla de cesta">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cesta?.products; let index = index">
            <th scope="row">{{ product.name }}</th>
            <td>{{ product.tam }}</td>
            <td>{{ product.price | precio }}</td>
            <td role="button" (click)="deleteItem(index)">X</td>
          </tr>
          <tr *ngIf="!cesta?.local">
            <th scope="row">Reparto a domicilio</th>
            <td>- -</td>
            <td>{{ 1.5 | precio }}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th scope="row">{{ cesta?.total | precio }}</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="cesta?.products?.length === 0">
      <h2 class="text-center text-success display-2"><b>Cesta vacía</b></h2>
    </div>
  </div>
</div>
